@reference "tailwindcss";

.product-list-page {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.panel {
  display: flex;
  gap: 10px;
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.error-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  color: darkred;
}

.list-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
